.sidebar {
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  padding-bottom: 50px;
  position: fixed;
  width: 270px;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.5s;
  .logo {
    margin: 30px;
    background: #fff;
    padding: 33px 30px;
    border-radius: 7px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #sidebar_menu {
    .sidebar-item {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
      }
    }
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
}
